/* html {
    height: 100dvh;
}

body {
    margin: 0;
    padding: 0;
    background-color: #0000ff;
    overflow: hidden;
    overscroll-behavior: none;
    height: 100dvh;
}

#app-root {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
} */

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 100dvh;
    background: #000;
    overflow: hidden;
}

#app-root {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}