/* html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    overscroll-behavior: none;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto; 
    box-sizing: border-box;
} */

#app-root {
    position: relative;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* Prevent horizontal overflow for all descendants */
* {
    box-sizing: border-box;
}