html, body {
    margin: 0;
    padding: 0;
    background-color: #000;
    overflow: hidden;
    overscroll-behavior: none;
    position: relative;
}

#app-root {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}