.metadata-form {
    z-index: 3;
    position: absolute;
    bottom: 110px;
    /* fixed distance from bottom */
    left: 10px;
    width: 350px;
    max-width: 100vw;
    backdrop-filter: blur(2px);
    max-height: fit-content;

    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.15);
}