.metadata-form {
    z-index: 4;
    position: absolute;
    bottom: 13%;
    /* fixed distance from bottom */
    left: 30px;
    max-width: 350px;
    max-height: 350px;
    width: 90%;
        bottom: calc(
        10px +              
        60px +               
        env(safe-area-inset-bottom)
    );
    /* max-width: 100vw; */
    backdrop-filter: blur(2px);
    background: rgba(0, 0, 0, 0.1);
    max-height: fit-content;
    margin-right: 10%;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    padding: 10px;
}