.video-slot {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.onscreen {
    transform: translateX(0);
}

.offscreen-left {
    transform: translateX(-120%);
}

.offscreen-right {
    transform: translateX(120%);
}

/* video stays untouched */
.player {
    width: 100%;
    height: 100%;
    position: relative;
    
    object-fit: cover;
    background: black;
}