/* .video-slot {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    transform: translateZ(0); 
    -webkit-transform: translateZ(0);
    z-index: 1;
    visibility: visible;
    aspect-ratio: 16 / 9
} */
 .video-slot {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    visibility: visible;
}
.video-slot video {
    width: 100%;
    height: 100%;
    object-fit: contain; /* keeps 16:9 without forcing container size */
    transform: scale(1.2);
}
@media (max-width: 500px),
(max-height: 500px) {
    .video-slot video {
        transform: scale(1.7);
    }
}
/* Simply bring the active one to the front */
.video-slot.onscreen {
    z-index: 2;
}

.player {
    width: 100%;
    height: 100%;
    /* object-fit: scale-down; */
    /* Avoid background: black here; it's what flashes if frames drop */
    background: black;
}