.player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 2;
    opacity: 1;
}

.layer-back {
    opacity: 0;
    pointer-events: none;
}