/* 3. UI Wrapper */
.ui-wrapper {
    z-index: 3;
    position: fixed;;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
}


.toolbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    height: 56px;
    min-height: 56px;
    padding: 0 8px;
    width: 90%;

    backdrop-filter: blur(2px);

    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    transition: opacity 0.3s ease;
    opacity: 0;
    flex-shrink: 0;
}

.toolbar-item {
    flex: 1 1 auto;
    min-width: fit-content;
    max-width: 100%;
}