.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 100%;
    gap: 0;
    background: #000;
}
.video-section {
    position: relative;
    background: #000;
    overflow: hidden;
}
/* 
.video-grid.expanded #section-1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
} 

.video-grid.expanded .video-section:not(#section-1) {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.video-grid:not(.expanded) #section-1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
} */